.idea
lib
assets

.env
test.png

public/download/*
storage/cache/*
storage/logs/*
storage/tmp/*
storage/uploads/*

!public/download/.gitkeep
!storage/cache/.gitkeep
!storage/logs/.gitkeep
!storage/tmp/.gitkeep
!storage/uploads/.gitkeep
